@import "tailwindcss";

body {
  font-family: 'Ubuntu', sans-serif;
}

input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 3px solid #2e2f2f;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

input[type="radio"]:checked {
  border-color: #ffff;
  background-color: #ffff;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
}